/* This File is Contains CSS styling part */


/* It is An example of External Css */
b{
   color: red;
   background-color: gold;
}

/* Css Selector */

/* Example of Element Selector */
p{
   color: red;
   background-color: yellow;
}

/* Example of Id Selector */
#line-one{
   color: yellow;
   background-color: black;
}

/* Example of Class Selectors */
.sel{
   color: aqua;
   background-color: black;
}


/* if You want to just color only one element  */
p.center{
   color:red;
   text-align: center;
}

/* Example of Universal Selectors */
*{
   border: 2px dotted white;
   color: black;
   background-color: red;
   font-size: 20px;
}


/* Another Example for diff btw Body element and Universal selector */

body{
   border: 2px dotted white;
   color: black;
   background-color: red;
   font-size: 20px;
}

/* Example of Group Selector */
h1,h2,p{
   text-align: center;
   color: red;
   background-color: beige;
}


/* Example of Desendent Selector */
li a{
   color: white;
   background-color: black;
}


/* Example of Direct Child  */
b>i{
   color: white;
   background-color: black;
}

/* Css Text color */
body{
   font-size: 100%;}
   h1{ color: red;}
   h2{ color: #9000A1;}
   p{ color: rgb(0, 220, 98);}
}


/* Css Font Family */
body{
   font-size: 100%;
   h1{ font-family: sans-serif;}
   h2{ font-family: serif;}
   p{  font-family: monospace;}
}

/* Example of font Size */
p{
   color: aqua;
   background-color: black;
}

/* Css Font Style */
body{
   font-size: 100%;
}
h2{ font-style: italic;}
h3{ font-style: oblique;}
h4{ font-style:normal;}
}

/* Css Font Vaiant */
p{  font-variant: small-caps;}
h3{ font-variant: normal;}

/* Css Font Weight */
p{ color: red;}

/* Example  of backgorund color */
p{
   background-color: red;
} 

/* Css background-Attached */
body{
   background: white url(/images/f95f5676571b30e0b79d23e5d75b78d7.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   margin-left: 200px;
}

/* Links in Css */

/* unvisited link */
a:link{
   color: red;
}

/* Visited Links */
a:visited{
   color: green;
}

/*Mouse Over Link  */
a:hover{
   color: hotpink;
}

/* Selected Link */
a:active{
   color: blue;
}

/* Text directiom in  Links */

a:link{
   text-decoration: none;
}

a:visited{
   text-decoration: none;
}

a:hover{
   text-decoration: underline;
}

a:active{
   text-decoration: underline;
}

/* Visited Links */
a:visited{
   background-color: green;
}

/* Background Color */
a:link{
   background-color: yellow;
}

/*Mouse Over Link  */
a:hover{
   background-color: lightseagreen;
}

/* Selected Link */
a:active{
   background-color: hotpink;
}


/* Selected Link */
a:active{
   background-color: hotpink;
}

/* Styling List With Colors */
ul{
   background: #f99;
   padding: 20px;
}


/* ol{ */
   background: #3399ff;
   padding: 20px;
}


/* ul li{ */
   background: #ffe5e5;
   padding: 20px;
   margin-left: 35px;
}

ol li{
   background: #f99;
   margin-left: 35px;
}

/* Css Display */
Block Element
a{
   display: block;
}


/* Inline Element */
li{
   display: inline;
}

/* Css Border width  */
p.one{
   border-style: solid;
   border-width: 5px;
}

p.two{
   border-style: solid;
   border-width: medium;
}

p.three{
   border-style: solid;
   border-width: 1px;
}

p{
   border-top-style: dotted;
   border-right-style: solid;
   border-bottom-style: dotted;
   border-left-style: solid;
}

p{
   border-style: dotted solid double dashed;
}

/* Css Border width  */
p.one{
   border-style: solid;
   border-width: 5px;
}

p.two{
   border-style: solid;
   border-width: medium;
}

p.three{
   border-style: solid;
   border-width: 1px;
}

p{
   border-top-style: dotted;
   border-right-style: solid;
   border-bottom-style: dotted;
   border-left-style: solid;
}


p{
   border-style: dotted solid double dashed;
}

 /* Border Radius */
p{
   /* border: 2px solid red; */
   border-radius: 5px;
}

/* Css Margin */
p.one{
   border: 2px solid orange;
   margin-left: 30px;
}

p.two{
   border: 2px solid orange;
   margin-left: 20%;
}

p.three{
   border: 2px solid orange;
   margin-left: auto;
}

/* Css Pading */
p.one{
   border: 5px solid rgb(177, 19, 98);
   padding-left: 30px;
}

p.two{
   /* border: 5px solid hotpink; */
   padding-left: 20%;
}

p.three{
   border: 5px solid hotpink;
   padding-left: auto;
}

/* Outline Offset */
p{
   margin: 30px;
   background-color: yellow;
   border: 1px solid black;
   outline: red;
   outline-offset: 15px;
}

/* Css Float */
#header,#footer{
   background-color: #EEEEEE;
   padding: 15px;
}

#sidebar{
   float: left;
   width: 25%;
   background-color: lightblue;
   padding: 30px 10px;
}

#sidebar ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#sidebar li{
   padding: 6px;
   margin-bottom: 10px;
   background-color: #10A2FF;
   color: #ffffff;
}

/* #content{ */
   width: 75%;
   margin-left: 25%;
   padding: 10px;
}

#main-body{
   overflow: auto;
}


/* Navigation bar */
/* Vertical Navbar */
ul {
   list-style-type: none;
   margin: 10px;
   padding: 5px;
}

ul {
   list-style-type: none;
   margin: 5px;
   padding: 5px;
   width: 2020px;
}

li a{
   display: block;
   color: #000;
   padding: 8px 16px;
   text-decoration: none;
}
li a:hover{
   background-color: #555;
   color: white;
}

/* Horizontal Navbar */

ul {
   list-style-type: none;
   margin: 5px;
   padding: 5px;
   width: 2020px;
}

li{
   display: inline;
}

ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

li{
   float: left;
}

li a{
   display: block;
   color: white;
   text-align: center;
   padding: 14x 16px;
   text-decoration: none;
}

li a:hover{
   background-color: #111;
}
